.Login{
    height: 100%;
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex-direction: column;
    color: black;
    

}
.Button{
width: 100px;
height: 20px;
margin-top: 10px;
}
.input{
    width:300px;

}
