.AddUserContainer{
    width:1000;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: crimson;
    justify-content: center;
    align-items: center;
    margin-left: 500;
    
}
.input{
    width: 50%;
    border: 1px solid white;
    border-radius: 30px;
   
}
.header{
    color:white;
    text-align: center;
}
